<div style="padding:2%"></div>
<div fxLayout="column" fxLayoutAlign="center center">
<mat-card fxLayout="column" fxLayoutAlign="center" fxFlex>
  <mat-card-header>
    <mat-card-title>
      Credits
    </mat-card-title>
    <mat-card-subtitle>
      Ringraziamenti
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul>
    <li><p><b>Paperellion</b> per <a href="https://bitmed.github.io/tmarmor/" target="_blank">"Infondere Armature"</a> e <a href="https://bitmed.github.io/tmenchant/" target="_blank">"TM Enchant"</a></p></li>

    <li><p><b>Alatar</b> per <a href="https://alatarl.github.io/ElficoTM/" target="_blank">"Dizionario elfico"</a> e <a href="https://alatarl.github.io/CalendarioTM/" target="_blank">"Calendario TM"</a></p></li>


<li><p><b>Yoridyon</b> per  <span class="material-icons ank" style="color: rgb(255, 210, 48); font-size: 25px;position: relative;top:6px; -webkit-text-stroke-width: 0px;">anchor</span><b> Rotiniel Tools</b> e <a routerLink="/schedaPersonaggio" target="_blank">"Scheda Personaggio"</a></p></li>

    <li><p>Tutti i membri della community che hanno contribuito allo sviluppo dei tools</p></li>

    <li><p>Lo Staff di <a href="https://themiraclegdr.com/" target="_blank">The Miracle Shard</a> per aver creato il gioco e averlo mantenuto attivo (e in costante aggiornamento) per oltre vent'anni</p></li>

    <li><p>Tutti i player e gli amici di <b>Rotiniel</b> che rendono piacevoli le ore di gioco passate assieme </p></li>
  </ul>
  <br>
  <div style="text-align:center">
    <b>Powered by:</b>&nbsp; <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/900px-Octicons-mark-github.svg.png?20180806170715" width="30" height="30">
    &nbsp;<img src="https://cdn.icon-icons.com/icons2/691/PNG/512/google_firebase_icon-icons.com_61474.png" width="32" height="30">
  </div>
  <br><br>
  <div style="text-align:right">
    <b style="color:#004a9f">Enjoy TM!</b>
  </div>
  </mat-card-content>
</mat-card>
</div>
