<div *ngIf="!utils.isSmartphone()">
  <mat-card class="cont" >
    <mat-card-content class="content" fxFlex fxLayout="row wrap" fxLayoutAlign="center center" >

      <div  fxLayout="column"  fxFlex>
        <mat-form-field fxLayout="row">
          <mat-label>Autore</mat-label>
          <input matInput [readonly]="true" [formControl]="macroFullForm.controls['author']"  [ngModel]="macroFull.macro.author" fxFlex>
        </mat-form-field>

        <mat-form-field fxLayout="row" fxFlex>
          <mat-label>Titolo</mat-label>
          <input matInput [formControl]="macroFullForm.controls['titolo']" fxFlex>
        </mat-form-field>

        <textarea
        appTextareaAutosize
        placeholder="Descrizione..."
        ></textarea>

        <mat-form-field appearance="fill" fxLayout="row" fxFlex>
          <mat-label>Tipologia</mat-label>
          <mat-select [formControl]="macroFullForm.controls['tipologia']" >
            <mat-option *ngFor="let tipologia of tipologieMacro" [value]="tipologia"  fxFlex>
              {{tipologia}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" fxLayout="row" fxFlex>
          <mat-label>Tipologia</mat-label>
          <mat-select [formControl]="macroFullForm.controls['tipologia']" >
            <mat-option *ngFor="let tipologia of tipologieMacro" [value]="tipologia" fxFlex>
              {{tipologia}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>





<div *ngIf="utils.isSmartphone()"  fxLayout="column" fxLayoutAlign="space-around stretch">
  <mat-card class="cont">
    <mat-card-content>
      <div  fxLayout="column"  >
        <mat-form-field>
          <mat-label>Autore</mat-label>
          <input matInput [readonly]="true" [formControl]="macroFullForm.controls['author']"  [ngModel]="macroFull.macro.author" >
        </mat-form-field>

        <mat-form-field  >
          <mat-label>Titolo</mat-label>
          <input matInput [formControl]="macroFullForm.controls['titolo']" [readonly]="detail" >
        </mat-form-field>

        <textarea
        appTextareaAutosize
        placeholder="Descrizione..."
        class="text-inputSmart"
        [formControl]="macroFullForm.controls['descrizione']" [readonly]="detail"
        ></textarea>

        <mat-form-field appearance="fill"   style="padding-top:2vh" >
          <mat-label>Tipologia</mat-label>
          <mat-select [formControl]="macroFullForm.controls['tipologia']">
            <mat-option *ngFor="let tipologia of tipologieMacro" [value]="tipologia" [disabled]="detail">
              {{tipologia}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <b style="text-align: center;" *ngIf="!detail">Crea la tua macro</b>
        <div class="customTextArea" *ngIf="!detail">
          <div *ngFor="let i of ' '.repeat(nMacro).split(''); index as index;" fxLayout="column">

            <div style="padding-top: 2vh;">
            </div>
              <mat-form-field appearance="fill" >
                <mat-label class="label">Settings</mat-label>
                <mat-select [formControl]="macroFullForm.controls['settings']" >
                  <mat-option *ngFor="let macro of macroSettings" [value]="macro" (click)="addMacroToList(macro, index)"  fxFlex>
                    {{macro.comando}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="insertMacroSettings[index] && insertMacroSettings[index]?.settings!.length>0" >
                <mat-label>{{insertMacroSettings[index].comando}}</mat-label>
                <mat-select >
                  <mat-option *ngFor="let setting of insertMacroSettings[index]?.settings" [value]="setting"  fxFlex (click)="addMacroToListUpdate(index,setting,null)">
                    {{setting}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field  *ngIf="insertMacroSettings[index] && insertMacroSettings[index]?.type=='text'">
                <mat-label>{{insertMacroSettings[index].comando}}</mat-label>
                <input matInput type="text"  (keyup)="addMacroToListUpdate(index,'',$event)">
              </mat-form-field>

              <div style="padding-top: 2vh;">
                  <hr>
              </div>
          </div>
            <button mat-icon-button (click)="addMacro()"><mat-icon  matTooltip="Aggiungi una nuova macro" class="Custom" *ngIf="!detail">add_circle</mat-icon></button>
        </div>

        <div style="padding-top: 2vh;">
              </div>
        <button mat-raised-button color="primary" [disabled]="disabledButton()" (click)="saveMacro()" *ngIf="!detail">Salva</button>
      </div>









        <div class="customTextArea" *ngIf="detail">
          <div *ngFor="let m of detailMacroSettings; index as index;" fxLayout="column">

            <div style="padding-top: 2vh;">
            </div>
              <mat-form-field appearance="fill" >
                <mat-label class="label">Settings</mat-label>
                <mat-select [compareWith]="compareSettings" [ngModel]="m">
                  <mat-option *ngFor="let macro of macroSettings" [value]="macro" fxFlex [disabled]="detail">
                    {{macro.comando}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="m.type=='command' && m.function.length>0" >
                <mat-label>{{m.function}}</mat-label>
                <mat-select [compareWith]="compareSottoSettings" [ngModel]="m.function">
                  <mat-option *ngFor="let setting of m.settings" [value]="setting"  fxFlex [disabled]="detail">
                    {{setting}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field  *ngIf="m.type=='text' && m.function.length>0">
                <mat-label>{{m.function}}</mat-label>
                <input matInput type="text" [ngModel]="m.function" [readonly]="detail">
              </mat-form-field>

              <div style="padding-top: 2vh;">
                  <hr>
              </div>
          </div>
            <button mat-icon-button (click)="addMacro()"><mat-icon  matTooltip="Aggiungi una nuova macro" class="Custom" *ngIf="!detail">add_circle</mat-icon></button>
        </div>

        <div style="padding-top: 2vh;">
              </div>
        <button mat-raised-button color="primary" [disabled]="disabledButton()" (click)="saveMacro()" *ngIf="!detail">Salva</button>


    </mat-card-content>

  </mat-card>
</div>
