



<div class="flex justify-around content-stretch items-stretch flex-col">
  <mat-card class="cont" [ngStyle]="{ 'border-color': this.macroMultiInsert &amp;&amp; !this.macroMultiInsert.checked ? 'grey' : ''}" [ngClass]="{'cont panel': multiInsert }">

    <div class="edit" *ngIf="isUpdateable &amp;&amp; detail">
      <button mat-mini-fab="" matTooltip="Elimina" color="warn" style="margin-right:1vw" (click)="deleteMacro()"><mat-icon>delete_forever</mat-icon></button>
      <button mat-mini-fab="" matTooltip="Modifica" (click)="edit=true; detail=false" *ngIf="!edit"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab="" matTooltip="Condividi" style="margin-left:1vw" color="primary" (click)="share()"><mat-icon>share</mat-icon></button>

      <span class="edit" *ngIf="isRegnante &amp;&amp; detail &amp;&amp; checkThumb()" style="margin-right:1vw;">
        <button mat-mini-fab="" matTooltip="Mi piace" color="primary" (click)="likeIt()"><mat-icon>thumb_up</mat-icon></button>
      </span>

      <span class="edit" *ngIf="isRegnante &amp;&amp; detail &amp;&amp; checkIfVote()" style="margin-right:1vw;">
        <button mat-mini-fab="" matTooltip="Non mi piace" style="background-color: grey;" (click)="likeIt()"><mat-icon>thumb_up</mat-icon></button>
      </span>
    </div>



    <div class="edit" *ngIf="!isUpdateable &amp;&amp; detail &amp;&amp; checkThumb()">
      <button mat-mini-fab="" matTooltip="Mi piace" color="primary" (click)="likeIt()"><mat-icon>thumb_up</mat-icon></button>
      <button mat-mini-fab="" matTooltip="Condividi" style="margin-left:1vw" color="primary" (click)="share()"><mat-icon>share</mat-icon></button>
    </div>

    <div class="edit" *ngIf="!isUpdateable &amp;&amp; detail &amp;&amp; checkIfVote()">
      <button mat-mini-fab="" matTooltip="Non mi piace" style="background-color: grey;" (click)="likeIt()"><mat-icon>thumb_up</mat-icon></button>
      <button mat-mini-fab="" matTooltip="Condividi" style="margin-left:1vw" color="primary" (click)="share()"><mat-icon>share</mat-icon></button>
    </div>

    <div *ngIf="!utenteLoggato &amp;&amp; detail &amp;&amp; !multiInsert" class="edit">
      <button mat-mini-fab="" matTooltip="Condividi" style="margin-left:1vw" color="primary" (click)="share()"><mat-icon>share</mat-icon></button>
    </div>

    <mat-card-content>

      <!-- MULTI INSERT -->
      <div *ngIf="multiInsert">
        <div class="flex flex-col">
          <mat-form-field>
            <mat-label>Autore</mat-label>
            <input matInput="" [readonly]="true" [(ngModel)]="this.macroMultiInsert!.macro.macro.author">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Titolo</mat-label>
            <input matInput="" [formControl]="macroFullForm.controls['titolo']" [readonly]="!macroMultiInsert?.checked" (keyup)="editMultiInsert()">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Delay MacroUO</mat-label>
            <input matInput="" [formControl]="macroFullForm.controls['delay']" type="number" minlength="0" min="0" (change)="editMultiInsert($event)" [readonly]="!macroMultiInsert?.checked">
          </mat-form-field>

          <textarea appTextareaAutosize="" placeholder="Descrizione..." class="text-inputSmart" [formControl]="macroFullForm.controls['descrizione']" [readonly]="!macroMultiInsert?.checked" (keyup)="editMultiInsert()"></textarea>

          <mat-form-field appearance="fill" style="padding-top:2vh">
            <mat-label>Tipologia</mat-label>
            <mat-select [(ngModel)]="this.macroMultiInsert!.macro.tipologia">
              <mat-option *ngFor="let tipologia of tipologieMacro" [value]="tipologia" [disabled]="!macroMultiInsert?.checked" (click)="editMultiInsert()">
                {{tipologia}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="macroMultiInsert!.macro.tipologia==''">
              Seleziona una tipologia
            </mat-error>
          </mat-form-field>
        </div>

        <div class="customTextArea" style="text-align: left;">
          <ul *ngFor="let m of macroMultiInsert?.settings;">
            <li *ngIf="m.function!=''"><b>{{m.comando}}:</b> {{m.function}}</li>
            <li *ngIf="m.function==''"><b>{{m.comando}}</b></li>
          </ul>
        </div>

      </div>

  <!-- GENERIC -->
        <div *ngIf="!multiInsert" class="flex flex-col">
          <mat-form-field>
            <mat-label>Autore</mat-label>
            <input matInput="" [readonly]="true" [formControl]="macroFullForm.controls['author']" [ngModel]="macroFull.macro.author">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Titolo</mat-label>
            <input matInput="" [formControl]="macroFullForm.controls['titolo']" [readonly]="!edit &amp;&amp; detail">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Delay MacroUO</mat-label>
            <input matInput="" [formControl]="macroFullForm.controls['delay']" type="number" minlength="0" min="0" [readonly]="!edit &amp;&amp; detail">
          </mat-form-field>

          <textarea appTextareaAutosize="" placeholder="Descrizione..." class="text-inputSmart" [formControl]="macroFullForm.controls['descrizione']" [readonly]="!edit &amp;&amp; detail"></textarea>

          <mat-form-field appearance="fill" style="padding-top:2vh">
            <mat-label>Tipologia</mat-label>
            <mat-select [formControl]="macroFullForm.controls['tipologia']">
              <mat-option *ngFor="let tipologia of tipologieMacro" [value]="tipologia" [disabled]="!edit &amp;&amp; detail">
                {{tipologia}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <!-- INSERIMENTO -->
        <b style="text-align: center;" *ngIf="!edit &amp;&amp; !detail &amp;&amp; insert &amp;&amp; !multiInsert">Crea la tua macro</b>
        <div class="customTextArea" *ngIf="!edit &amp;&amp; !detail &amp;&amp; insert">
          <div *ngFor="let i of insertMacroSettings; index as index;" class="flex flex-col">
            <div style="padding-top: 2vh;">
            </div>
            <div class="delete">
              <button mat-icon-button="" (click)="eliminaMacroEdit(index)"><mat-icon matTooltip="Elimina Macro" *ngIf="!detail">remove_circle</mat-icon></button>
            </div>
              <mat-form-field appearance="fill">
                <mat-label class="label">Macro</mat-label>
                <mat-select [compareWith]="compareSettings" [ngModel]="i">
                  <mat-option *ngFor="let macro of macroSettings" [value]="macro" (click)="addMacroToList(macro, index)" class="flex-1">
                    {{macro.comando}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="i &amp;&amp; i?.settings!.length>0">
                <mat-label>{{i.comando}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let setting of i.settings" [value]="setting" (click)="addMacroToListUpdate(index,setting,null)" class="flex-1">
                    {{setting}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="i &amp;&amp; i?.type=='text'">
                <mat-label>{{i.comando}}</mat-label>
                <input matInput="" type="text" (keyup)="addMacroToListUpdate(index,'',$event)">
              </mat-form-field>
              <div style="padding-top: 2vh;">
                  <hr>
              </div>
          </div>
            <button mat-icon-button="" (click)="addMacro()"><mat-icon matTooltip="Aggiungi una nuova macro" class="Custom" *ngIf="!detail">add_circle</mat-icon></button>
        </div>

        <div style="padding-top: 2vh;">
        </div>
        <button mat-raised-button="" color="primary" [disabled]="disabledButton()" (click)="saveMacro()" *ngIf="!detail &amp;&amp; !edit">Salva</button>
      </div>


      <!-- MODIFICA -->
      <b style="width:100%;text-align: center; " *ngIf="edit &amp;&amp; !detail &amp;&amp; !insert &amp;&amp; !multiInsert">Modifica la tua macro</b>
        <div class="customTextArea" *ngIf="edit &amp;&amp; !detail &amp;&amp; !insert">
          <div *ngFor="let m of detailMacroSettings; index as index;" class="flex flex-col">
            <div class="delete">
              <button mat-icon-button="" (click)="eliminaMacroEdit(index)"><mat-icon matTooltip="Elimina Macro" *ngIf="!detail">remove_circle</mat-icon></button>
            </div>
              <mat-form-field appearance="fill">
                <mat-label class="label">Macro</mat-label>
                <mat-select [compareWith]="compareSettings" [ngModel]="m">
                  <mat-option *ngFor="let macro of macroSettings;" [value]="macro" [disabled]="detail" (click)="editSettings(macro, index)" class="flex-1">
                    {{macro.comando}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="fill" *ngIf="m.type=='command'&amp;&amp; m.settings.length>0">
              <mat-label class="label">{{m.comando}}</mat-label>
                <mat-select [compareWith]="compareSottoSettings" [ngModel]="m.function">
                  <mat-option *ngFor="let setting of m.settings;" [value]="setting" [disabled]="detail" (click)="editSubSettings(setting, index)" class="flex-1">
                    {{setting}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field *ngIf="m.type=='text' &amp;&amp; m.settings.length==0">
                <mat-label>{{m.comando}}</mat-label>
                <input matInput="" type="text" [ngModel]="m.function" [readonly]="detail" (keyup)="editSubSettings($event.target,index)">
              </mat-form-field>
              <div style="padding-top: 2vh;">
                  <hr>
              </div>
          </div>
            <button mat-icon-button="" (click)="addMacro()"><mat-icon matTooltip="Aggiungi una nuova macro" class="Custom" *ngIf="!detail">add_circle</mat-icon></button>
        </div>

        <div style="padding-top: 2vh;">
          </div>
        <button mat-raised-button="" color="accent" style="width:100%" [disabled]="disabeldEditButton()" (click)="saveMacro()" *ngIf="edit &amp;&amp; !multiInsert">Modifica</button>

        <div class="customTextArea" *ngIf="detail &amp;&amp; !edit &amp;&amp; !insert &amp;&amp; !multiInsert" style="text-align: left;">
          <ul *ngFor="let m of detailMacroSettings;">
            <li *ngIf="m.function!=''"><b>{{m.comando}}:</b> {{m.function}}</li>
            <li *ngIf="m.function==''"><b>{{m.comando}}</b></li>
          </ul>
        </div>

    </mat-card-content>

  </mat-card>
</div>

<div style="padding-top: 1vh; width: 100%;" id="targetRed">
</div>
