
<div  class="external" fxLayoutAlign="space-around stretch" fxLayout="column">
 <div fxFlex="3" mat-dialog-title class="title">Scheda Personaggio <br><mat-divider></mat-divider></div>
 <div fxFlex>
  <div fxLayout="row wrap" fxLayoutAlign="space-around  stretch" fxFlex="100">
    <div fxLayout="column" class="generic yBar" fxFlex="50">
      <div fxFlex="70">
        <div class="subtitle">Info generiche <br></div>
        <div><span class="nome">Nome: </span>{{schedaPg.nome}}</div>
        <div><span class="nome">Razza: </span>{{schedaPg.razza.nome}}</div>
        <div><span class="nome">Classe: </span>{{schedaPg.classe.nome}}</div>
        <div><span class="nome">Pantheon: </span>{{schedaPg.religione.pantheon}}</div>
        <div><span class="nome">Divinità: </span>{{schedaPg.religione.nome}}</div>
      </div>
      <div fxFlex="30" class="stats">
        <div class="subtitle">Stats <br></div>
        <div><span class="material-symbols-outlined">
          fitness_center
          </span><span class="nome">Forza: </span>{{schedaPg.stats.forza}}</div>
        <div><span class="material-symbols-outlined">
          sprint
          </span><span class="nome">Destrezza: </span>{{schedaPg.stats.destrezza}}</div>
        <div>
          <span class="material-symbols-outlined">
            psychology
            </span><span class="nome">Intelligenza: </span>{{schedaPg.stats.intelligenza}}</div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="38" class="generic">
      <div fxFlex="100">
        <div class="subtitle">Skills</div>
        <div *ngFor="let skill of schedaPg.skills ">
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==4">
            collections_bookmark
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==5">
            music_note
            </span>

          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==0">
            receipt_long
            </span>

          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==3">
            school
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==2">
            auto_fix
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==1">
            swords
            </span>
          <span class="nome">{{skill.nome}} </span>{{skill.value}}</div>
      </div>
    </div>
  </div>
  </div>
  <mat-divider ></mat-divider>
  <div fxLayoutAlign="space-around center" fxLayout="row wrap" fxFlex="10">
    <button mat-raised-button color="primary">Salva</button>
    <button mat-raised-button color="primary">Chiudi</button>
  </div>
</div>
