<div fxLayout="column" fxFlex  fxLayoutAlign="space-evenly center" >
  <div  fxFlex style="padding:1%">
    <mat-card style="text-align:center">
      <div *ngIf="bacheche.length==0">
        <b>
        Scegli un file .txt e caricalo nella piattaforma.<br>
        Il sistema lo elaborerà e lo renderà adatto alle bacheche del gioco.
        </b>
        <br><br>
      </div>
      <input class="form-control" type="file" (change)="onChange($event)">
    </mat-card>
  </div>

  <mat-card class="pergamene" *ngIf="bacheche.length>0 && !isSmartphone">
    <mat-card-content>
    <div *ngFor="let b of bacheche" class="pergamena">
      <div *ngFor="let f of b">
        <span>{{f}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

    <div class="pergameneSmarth" *ngIf="bacheche.length>0 && isSmartphone">
    <div *ngFor="let b of bacheche" class="pergamena">
      <div *ngFor="let f of b">
        <span>{{f}}</span>
      </div>
    </div>
  </div>

