<div *ngIf="!isLoading">
  <div class="flex justify-center items-center mt-4" >
      <div class="container grid grid-cols-6 gap-4" >
        <div class="col-start-2 col-span-4">
        <input type="month" [(ngModel)]="selectedDate" (change)="onDateChange()" class="datepicker">
        <mat-checkbox (change)="setAnnoCorrente($event.checked)" [(ngModel)]="annoIntero" [color]="'primary'"  style="padding-left:15px" class="checkbox" *ngIf="userService.isRotinrim">Anno corrente</mat-checkbox>
      </div>
        <div class="col-start-2 col-span-4" style="padding:30px; border:2px outset #004a9f;" *ngIf="!noData">
            <div class="row" >
              <div class="flex flex-wrap justify-center">
                <mat-form-field class="ml-1 fieldSmartphone">
                  <mat-label style="font-size: 12px">Dungeon</mat-label>
                  <mat-select color="primary"  class="flex-1" [(ngModel)]="selectedDungeon.name" >
                    <mat-option color="primary" *ngFor="let dungeon of dungeons" [value]="dungeon.name" (click)="change()">{{dungeon.emoji +" "+dungeon.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-1 fieldSmartphone" (click)="notAviable()">
                  <mat-label style="font-size: 12px">Tipo grafico</mat-label>
                  <mat-select color="primary"  class="flex-1" [(ngModel)]="selectedGrafico" [disabled]="utils.isSmartphone()">
                    <mat-option color="primary" *ngFor="let grafico of tipoGrafico" [value]="grafico.tipo">{{grafico.emoji}} {{grafico.tipo}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="ml-1 fieldSmartphone" *ngIf="selectedGrafico!=='Timeline'">
                  <mat-label style="font-size: 12px">Filtro grafico</mat-label>
                  <mat-select color="primary"  class="flex-1" [(ngModel)]="selectedFiltro" >
                    <mat-option color="primary" *ngFor="let filtro of filtriGrafico" [value]="filtro">{{filtro}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="grafici mt-4" >
                <div class="expanding-container center-content displayLarge " [ngStyle]="{ 'justify-content': selectedGrafico === 'Lineare' ? 'center' : 'left' }">
                  <div style="max-height: 350px;">
                    <app-statistiche-timeline [items]="arrayStatistiche" *ngIf="selectedGrafico=='Timeline'" (openModal)="setValuesModal($event)"></app-statistiche-timeline>
                    <div *ngIf="selectedGrafico=='Lineare'" >
                      <app-statistiche-line-chart [items]="arrayStatistiche" [filtro]="selectedFiltro" *ngIf="!utils.isSmartphone()" (openModal)="setValuesModal($event)">
                      </app-statistiche-line-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>


    <div style="margin-top:5vh; background-color: white;" *ngIf="utils.isSmartphone()">
      <app-statistiche-timeline [items]="arrayStatistiche" *ngIf="selectedGrafico=='Timeline'"></app-statistiche-timeline>
        <div *ngIf="selectedGrafico=='Lineare'" >
          <app-statistiche-line-chart [items]="arrayStatistiche" [filtro]="selectedFiltro" *ngIf="utils.isSmartphone()" (openModal)="setValuesModal($event)"></app-statistiche-line-chart>
      </div>
    </div>
</div>
<div *ngIf="isLoading">
  <div class="flex justify-center items-center mt-4" >
    <div class="container grid grid-cols-6 gap-4" >
      <div class="col-start-2 col-span-4">
      <input type="month" [(ngModel)]="selectedDate" (change)="onDateChange()" class="datepicker">
      <mat-checkbox (change)="setAnnoCorrente($event.checked)" [color]="'primary'"  style="padding-left:15px" class="checkbox" *ngIf="userService.isRotinrim">Anno corrente</mat-checkbox>
    </div>
      <div class="col-start-2 col-span-4" style="padding:30px; border:2px outset #004a9f;">
          <div class="row" >
            <div class="flex flex-wrap justify-center">
              <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                height: '30.5vh',
                width:'60vw',
                border: '1px solid white'
              }"></ngx-skeleton-loader>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center; padding-top: 10px;" *ngIf="noData">
  <h2>Non sono presenti statische disponibili.</h2>
</div>