
<section >
  <mat-checkbox [color]="checkedMacros()" [(ngModel)]="checkAll" (change)="setAllChecked($event.checked)">
    <b>Seleziona tutto</b>
  </mat-checkbox>
</section>
<div class="skipScheda" fxLayout="row" fxLayoutAlign="space-around center" >
  <section >
    <mat-checkbox color="primary" [(ngModel)]="macro.checked" (change)="resetMacro()"><b>Inserisci Macro</b></mat-checkbox>
  </section>

  <div fxFlex>
    <button mat-icon-button (click)="changeScheda('left')" ><mat-icon>keyboard_arrow_left</mat-icon></button>
    <b style="color:black">{{index+1}}/{{macros.length}}</b>
    <button mat-icon-button (click)="changeScheda('right')" ><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
</div>
<app-macro-insert-edit [multiInsert]="true" [macroMultiInsert]="macro" (editMacro)="setMacro($event)" class="panel"></app-macro-insert-edit>
<div style="width:100%; text-align:center">
<button mat-raised-button color="primary" (click)="saveAll()" [disabled]="checkAllMacro()">Salva</button>
</div>
