<div *ngIf="develop">
  <div class="home flex flex-row">
    <mat-card class="container flex flex-col basis-[70%]">
      <mat-card-header>
        <mat-card-title>Salva nuova skill</mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: 300px" class="flex flex-col justify-center content-center items-center w-full basis-full">

            <div class="flex flex-col basis-[30%]">
              <mat-form-field class="example-form-field">
                <mat-label>Nome skill</mat-label>
                <input matInput="" type="text" [(ngModel)]="newSkill.nome" color="primary" class="flex-1">
                <button matSuffix="" mat-icon-button="" aria-label="Clear" (click)="newSkill.nome=''">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <div *ngIf="tipologiaSkills.length>0" class="flex flex-col basis-[30%]">
                <mat-form-field appearance="fill">
                <mat-label>Tipologia Skill</mat-label>
                <mat-select color="primary" [(ngModel)]="newSkill.idTipologiaSkill">
                  <mat-option color="primary" *ngFor="let tipologia of tipologiaSkills" [value]="tipologia.id">{{tipologia.nome}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          <div style="margin-left: 10%;" class="flex flex-col basis-[30%]">
            <section>
                <mat-checkbox style="padding:4px" *ngFor="let classe of classi" color="primary" (change)="toggle(classe)">{{classe.nome}}</mat-checkbox>
            </section>
          </div>
          <div style="margin-left: 5%; margin-right:5%" class="flex-1">
            <button mat-raised-button="" color="primary" [disabled]="newSkill.nome=='' || newSkill.idTipologiaSkill === -1" (click)="SalvaSkill()">Salva</button>
          </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="skills flex justify-center content-center items-center flex-row">
  <mat-card style="height: 300px; overflow-y: auto;" class="flex flex-row flex-1">
    <ul *ngIf="skills.length>0">
      <li *ngFor="let skill of skills" style="padding: 5px;" class="flex flex-col"><b>*{{skill.nome}}</b> <ul *ngFor="let classe of skill.classi"><li>{{classe}}</li></ul></li>
    </ul>
  </mat-card>
  </div>
</div>





<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button (click)="checkSession()">Check session</button>

<button (click)="logout()">logout</button>
<br>

<!-- Registrati
<input type="text" [(ngModel)]="user.username" placeholder="Nome">
<input type="password" [(ngModel)]="user.password" placeholder="Password">
<button (click)="registrati()">Registrati</button><br>


<br><br><br><br><br>
Login
<input type="text" [(ngModel)]="user.username" placeholder="Nome">
<input type="password" [(ngModel)]="user.password" placeholder="Password">
<button (click)="login()">Login</button><br> -->



<textarea [(ngModel)]="area">

</textarea> <button (click)="goText()">Ciao</button>






