
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button="" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle(); ">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
<span class="material-icons ank" style="color: rgb(255, 210, 48); font-size: 56px; -webkit-text-stroke-width: 0px;" routerLink="/" (click)="boolHome=false;">anchor</span>
<div class="basis-[96%]">
  Rotiniel Tools
</div>
<button mat-icon-button="" matTooltip="Admin" (click)="goAdmin()" *ngIf="isRegnante" [ngStyle]="isSmartphone ? { 'margin-right': '6vw' } : { '': '' }" class="basis-[4%]">
  <span class="material-symbols-outlined">
    <mat-icon style="color:gold">admin_panel_settings</mat-icon>
    </span>
</button>

<button mat-icon-button="" matTooltip="Login" (click)="openLogin()" *ngIf="!isLoggedIn" class="basis-[4%]">
  <span class="material-icons">discord</span>
</button>

<button mat-icon-button="" matTooltip="Logout" (click)="logOut()" *ngIf="isLoggedIn" class="basis-[4%]">
  <span class="material-symbols-outlined">
    person_off
    </span>
</button>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <h4 class="name">Tools</h4>
    <mat-divider></mat-divider>


  <a mat-raised-button="" routerLink="/" (click)="goChild('https://bitmed.github.io/tmarmor/'); sidenav.toggle()" class="but"><span class="but">Infondere armature</span></a>
  <a mat-raised-button="" routerLink="/" (click)="goChild('https://bitmed.github.io/tmenchant/'); sidenav.toggle()" class="but"><span class="but">TM Enchant</span></a>
  <a mat-raised-button="" routerLink="/" (click)="goChild('https://alatarl.github.io/CalendarioTM/'); sidenav.toggle()" class="but"><span class="but">Calendario TM</span></a>
  <a mat-raised-button="" routerLink="/" (click)="goChild('https://alatarl.github.io/ElficoTM/'); sidenav.toggle()" class="but"><span class="but">Dizionario elfico</span></a>
  <a mat-raised-button="" routerLink="/schedaPersonaggio" (click)="sidenav.toggle(); boolHome=false;" class="but"><span class="but">Scheda personaggio</span></a>
  <a mat-raised-button="" routerLink="/bacheca" (click)="sidenav.toggle(); boolHome=false;" class="but"><span class="but">Paginazione Bacheche</span></a>
  <a mat-raised-button="" routerLink="/macro" (click)="sidenav.toggle(); boolHome=false;" class="but"><span class="but">Macro Utili</span></a>
  <a mat-raised-button="" routerLink="/monsterDex" (click)="sidenav.toggle(); boolHome=false;" class="but"><span class="but">MonsterDex</span></a>





    <mat-divider></mat-divider>

    <button mat-raised-button="" class="menu-button" routerLink="/news" (click)="sidenav.toggle(); boolHome=false;">
      <mat-icon>newspaper</mat-icon>
      <span>News</span>
    </button>


    <button mat-raised-button="" class="menu-button" routerLink="/help" (click)="sidenav.toggle(); boolHome=false;" *ngIf="isLoggedIn">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>

    <button mat-raised-button="" class="menu-button" routerLink="/credits" (click)="sidenav.toggle(); boolHome=false;">
      <mat-icon>info</mat-icon>
      <span>Credits</span>
    </button>

  </mat-sidenav>
  <app-home [events]="iFrameEmitter.asObservable()" *ngIf="boolHome"></app-home>
  <router-outlet *ngIf="!boolHome"></router-outlet>
</mat-sidenav-container>

