<div>
<div mat-dialog-title fxLayout="column" fxLayoutAlign="space-around">

  <span>Scegli le skills del tuo pg</span>



  <div style="margin-top: 0.5em;">

    <mat-progress-bar mode="determinate" [color]="valueTotale<=1200 ? 'primary' : 'warn'" [value]="valueTotale/12"></mat-progress-bar>

  </div>



  <div fxFlex fxlayout="column" style="margin-top: 0.5em;">

    <h4>Totale skills selezionate: <u [style.color]="valueTotale>1200 ? 'red' : '#004a9f'">{{valueTotale}}</u>/1200</h4>

  </div>

  <section class="example-section" fxFlex fxlayout="column">

    <mat-checkbox class="example-margin" color="primary" (change)="setAll($event)" style="margin-left: 12px;">Applica skills consigliate</mat-checkbox>

  </section>

</div>



<mat-dialog-content fxLayout="column" fxLayoutAlign="space-around" [ngClass]="{'content': this.utils.isSmartphone()}">






    <div class="home" fxFlex  fxLayout="column" [ngStyle]="spazioSmartphone()">



            <div class="skills" fxLayout="column" >

              <li *ngFor="let lavorativa of skillsComplessive" >

                <div fxFlex >

              <button mat-raised-button (click)="setSkill(lavorativa)" fxFlex class="skill" [color]="lavorativa.isChecked ? 'primary' : 'white'" >

                <span class="material-symbols-outlined" *ngIf="lavorativa.idTipologiaSkill==4">

                  collections_bookmark

                  </span>

                <span class="material-symbols-outlined" *ngIf="lavorativa.idTipologiaSkill==5">

                  music_note

                  </span>



                <span class="material-symbols-outlined" *ngIf="lavorativa.idTipologiaSkill==0">

                  receipt_long

                  </span>



                <span class="material-symbols-outlined" *ngIf="lavorativa.idTipologiaSkill==3">

                  school

                  </span>

                <span class="material-symbols-outlined" *ngIf="lavorativa.idTipologiaSkill==2">

                  auto_fix

                  </span>

                <span class="material-symbols-outlined" *ngIf="lavorativa.idTipologiaSkill==1">

                  swords

                  </span>

                {{lavorativa.nome}}  </button>

                <input *ngIf="lavorativa.isChecked" class="value" matInput type="number" fxFlex="30" [(ngModel)]="lavorativa.value"  placeholder="Valore skill" (keyup)="checkNumber(lavorativa)">

            </div>

          </li>

        </div>

    </div>



  </mat-dialog-content>



    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">

      <div  style="margin-top: 1%;" >

        <button mat-raised-button *ngIf="expanded" color="warn" (click)="reset()">Reset  <mat-icon>undo</mat-icon></button>

      </div>

      <div style="margin-top: 1%;" >

        <button mat-raised-button *ngIf="expanded" color="primary" [disabled]="valueTotale>1200" (click)="salvaSkills()">Salva <mat-icon>done</mat-icon></button>

      </div>

    </mat-toolbar-row>
  </div>
