<div class="row">
  <div style="padding-bottom: 3vh;text-align:center; color: #004a9f;font-weight: bold;
  padding-top: 5px;">
   Seleziona un template cliccando su una scheda personaggio
  </div>
  <div class="container" *ngIf="pgPaginati!=null && pgPaginati!.length>0">
    <mat-accordion *ngFor="let pg of pgPaginati; index as i;" multi="false">
      <mat-expansion-panel (opened)="select(pg, i);" [ngClass]="{'':selezionato==-1, 'selected': selezionato===i , 'notSelected':selezionato!==i && selezionato!==-1}" [expanded]="selezionato==i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b class="Title">Nome:&nbsp;</b>{{pg.nome}} &nbsp;&nbsp;&nbsp;&nbsp; 
            <div class="Title">
              <b>Classe:&nbsp;</b>{{pg.classe.nome}} &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="material-symbols-outlined">
                fitness_center
                </span>&nbsp;<b>{{pg.stats.forza}}&nbsp;<b>&nbsp;
                <span class="material-symbols-outlined">
                  sprint
                  </span> &nbsp;
                  </b>
                    {{pg.stats.destrezza}}&nbsp;</b>&nbsp;
                    <span class="material-symbols-outlined">
                      psychology
                      </span>
                    &nbsp;<b>{{pg.stats.intelligenza}}
                  </b>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  Utilizzata &nbsp;<b>{{pg.utilizzatoNVolte}}</b>&nbsp; volta/e
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let skill of pg.skills" class="flex flex-row">
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==4">
            collections_bookmark
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==5">
            music_note
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==0">
            receipt_long
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==3">
            school
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==2">
            auto_fix
            </span>
          <span class="material-symbols-outlined" *ngIf="skill.idTipologiaSkill==1">
            swords
            </span>
          <span>{{skill.nome}}: <b>{{skill.value}}</b></span>
        </div>
        <br>
      <br></mat-expansion-panel>
      <mat-divider></mat-divider>
      <div>
      </div>
    </mat-accordion>
    <mat-paginator [length]="schedePg.length" [pageSize]="pageSize" [pageSizeOptions]="[5]" (page)="pageEvent = $event; onPaginateChange($event)">
  </mat-paginator>
  <div style="padding-top: 3vh; margin-bottom: 50px;" class="flex justify-center items-center flex-col">
    <button mat-raised-button color="primary" [disabled]="selezionato==-1" (click)="selectTemplate()"
      class="flex flex-row flex-1">Seleziona il Template <mat-icon>done</mat-icon></button>
  </div>
  </div>
  <div *ngIf="pgPaginati==null || pgPaginati.length==0">
    <ngx-skeleton-loader count="5" appearance="line" [theme]="{ 
      height: '4.5vh',
      border: '1px solid white'
    }"></ngx-skeleton-loader>
  </div>
</div>

