<div class="container">
  <h1 class="page-title">Ultime News</h1>

  <div class="news-list">
    <div class="news-item">
      <h2 class="news-title">Nuove funzionalità di accesso tramite Discord e tool di salvataggio macro (1.4.0)</h2>
      <p class="news-content">Siamo entusiasti di annunciare i recenti miglioramenti apportati al nostro sito web.

        Abbiamo introdotto un nuovo sistema di accesso tramite Discord, che semplifica il processo di login e registrazione. Ora gli utenti possono accedere al sito utilizzando come provider Discord per rendere l'accesso più rapido e sicuro. Ma non è tutto: abbiamo anche implementato restrizioni speciali per offrire una visibilità maggiore agli utenti che partecipano al server di Rotiniel con il ruolo "Cittadino". Questi utenti avranno accesso a funzionalità esclusive e potranno godere di vantaggi aggiuntivi rispetto agli altri utenti.<br>

        Inoltre, siamo lieti di presentare il nuovo strumento di salvataggio macro. Ora gli utenti possono salvare e fruire delle macro inserite dagli altri membri direttamente dal nostro sito.<br>

        Apprezziamo molto il feedback della nostra community e vogliamo assicurarci che il sito funzioni al meglio. Se riscontri bug o anomalie durante l'utilizzo del sito, ti incoraggiamo a segnalarli nella sezione apposita. Il tuo contributo ci aiuterà a identificare e risolvere tempestivamente eventuali problemi, offrendo un'esperienza di utilizzo ancora migliore a tutti gli utenti.<br>

        Continueremo a lavorare per offrire ulteriori miglioramenti e nuove funzionalità in futuro.<br>

        Grazie a tutti per il vostro supporto costante!</p>


        <p class="news-content" style="text-align: center; font-weight: bold;">(si ma mo nun t'allargà chatgpt)</p>
      <p class="news-date">Pubblicato il 13/05/2023</p>
      <div class="news-content">
        <a class="news-link" href="https://docs.google.com/document/d/15-PV85hLet-2kS6gHf3xknh2TMRppxMHiUyPJ-m4CJ0/edit?usp=share_link" target="_blank">Guida all'utilizzo</a>
      </div>
    </div>
  </div>
  <div class="news-bug-report">
    <p>Hai riscontrato un bug o un'anomalia?</p>
    <a class="news-bug-link" href="/help">Segnala il bug qui</a>
  </div>
</div>
