.content {
  height: calc(100vh - 130px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  padding: 4px;
  overflow: auto;
}

.home
{
  border: 2px solid black;
}



.title
{
  padding: 5px;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: #004a9f;
}

.form
{
  padding: 10px;
  margin: 10px;
}

.firstForm
{
  border: 2px solid #004a9f;
  border-radius: 10px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  margin-right: 15%;
  margin-left: 15%;

}


.green
{
  background-color:#388E3C;
  color: white;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.bottoneTemplate
{
  position: relative;
  bottom: 2px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  font-size: 12px;
  background-color: white !important;
  height: 6vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
  background-color: white !important;
} */

/* 




::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled):focus {
  background-color: white !important;
}

::ng-deep .mdc-text-field--focused
{
  background-color: white !important;
  width: 7vw;
  font-size: small;
}

::ng-deep mat-select-content:hover, ::ng-deep mat-select-content:focus
{
  background-color: white;
} */


