<div class="chart-container flex justify-center content-center items-center flex-row" *ngIf="!isSmpartphone">
  <div class="chart-card basis-1/2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-buttons">
          <button mat-raised-button="" color="primary" (click)="changeChartType('monthly')" style="margin:2px">Mensile</button>
          <button mat-raised-button="" color="primary" (click)="changeChartType('days')" style="margin:2px">Settimanale</button>
          <button mat-raised-button="" color="primary" (click)="changeChartType('server')" style="margin:2px">Dati server</button>
        </div>
        <div class="chart" *ngIf="selectedTab === 'monthly'">
          <canvas baseChart="" [datasets]="monthlyData" [labels]="months" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
        <div class="chart" *ngIf="selectedTab === 'days'">
          <canvas baseChart="" [datasets]="weeklyData" [labels]="weeks" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
        <div class="chart" *ngIf="selectedTab === 'server'">
          <canvas baseChart="" [datasets]="serverData" [labels]="server" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<div class="chart-container flex justify-center content-center items-center flex-col" *ngIf="isSmpartphone">
  <div class="chart-card basis-full">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="chart-buttons">
          <button mat-raised-button="" color="primary" (click)="changeChartType('monthly')" style="margin:2px">Mensile</button>
          <button mat-raised-button="" color="primary" (click)="changeChartType('days')" style="margin:2px">Settimanale</button>
          <button mat-raised-button="" color="primary" (click)="changeChartType('server')" style="margin:2px">Dati server</button>
        </div>
        <div class="chart flex justify-center content-center items-center flex-col" *ngIf="selectedTab === 'monthly'">
          <canvas baseChart="" [datasets]="monthlyData" [labels]="months" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
        <div class="chart flex justify-center content-center items-center flex-col" *ngIf="selectedTab === 'days'">
          <canvas baseChart="" [datasets]="weeklyData" [labels]="weeks" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
        <div class="chart flex justify-center content-center items-center flex-col" *ngIf="selectedTab === 'server'">
          <canvas baseChart="" [datasets]="serverData" [labels]="server" [options]="chartOptions" [chartType]="chartType"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
