@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$orange-palette,700);
$my-success: mat.define-palette(mat.$green-palette,800);




$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);


.blue-snackbar{
  padding: 20px !important;
  background-color: #004a9f !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 10px !important;
}

.blue-snackbar button{
  background-color: white !important;
  color: #004a9f !important;
}

.green-snackbar{
  padding: 20px !important;
  background-color: green !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 10px !important;
}

.green-snackbar button{
  background-color: white !important;
  color: green !important;
}


.red-snackbar{
  padding: 20px !important;
  background-color: #F44336 !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 10px !important;
}

.red-snackbar button{
  background-color: white !important;
  color: black !important;
}
