<div class="container mx-auto" *ngIf="stat">
    <mat-card class="example-card" *ngIf="stat!=undefined">
        <mat-card-header>
          <mat-card-title>{{stat.statistica!.destination}}</mat-card-title>
          <mat-card-subtitle>{{stat.statistica!.dateFinish}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="margin-top:5px;">
          <div class="grid grid-cols-2 gap-4 mobile-grid">
            <div class=>
              <div class="row flex"><h3 class="subtitle">🕙 Tempo: </h3>&nbsp; 
                <h3 class="">{{stat.statistica!.tempo!.hours}} h - {{stat.statistica!.tempo!.minutes}} m - {{stat.statistica!.tempo!.seconds}} s</h3> 
                &nbsp;&nbsp;<span *ngIf="mediaTempo!='NaN' && mediaTempo!=''"><span *ngIf="mediaTempo.includes('-')" style="color:green">{{mediaTempo}}%</span><span *ngIf="!mediaTempo.includes('-')" style="color:brown">+{{mediaTempo}}%</span></span></div>
              <div class="row flex" *ngIf="stat.statistica?.fama"><h3 class="subtitle">⬆️ Fama: </h3> &nbsp;<h3>{{stat.statistica!.fama}}</h3> &nbsp;&nbsp;<span *ngIf="mediaFama!='NaN'"><span *ngIf="mediaFama.includes('-')" style="color:brown">{{mediaFama}}%</span><span *ngIf="!mediaFama.includes('-')" style="color:green">+{{mediaFama == '0.00' ?  '100' : mediaFama}}%</span></span></div>
              <div class="row flex" *ngIf="stat.statistica?.monete"><h3 class="subtitle">🪙 Monete: </h3> &nbsp;<h3>{{stat.statistica!.monete}}</h3>&nbsp;&nbsp;<span *ngIf="mediaMonete!='NaN'"><span *ngIf="mediaMonete.includes('-')" style="color:brown">{{mediaMonete}}%</span><span *ngIf="!mediaMonete.includes('-')" style="color:green">+{{mediaMonete == '0.00' ?  '100' : mediaMonete}}%</span></span></div>
              <div class="row flex" *ngIf="stat.statistica?.sangue"><h3 class="subtitle">⚗️ Sangue:</h3>&nbsp; <h3>{{stat.statistica!.sangue}}</h3>&nbsp;&nbsp;<span *ngIf="mediaSangue!='NaN'"><span *ngIf="mediaSangue.includes('-')" style="color:brown">{{mediaSangue}}%</span><span *ngIf="!mediaSangue.includes('-')" style="color:green">+{{mediaSangue == '0.00' ?  '100' : mediaSangue}}%</span></span></div>
              <div class="row flex" *ngIf="stat.statistica?.frammenti"><h3 class="subtitle">❄️ Frammenti:</h3>&nbsp; <h3>{{stat.statistica!.frammenti}}</h3>&nbsp;&nbsp;<span *ngIf="mediaFrammenti!='NaN'"><span *ngIf="mediaFrammenti.includes('-')" style="color:brown">{{mediaFrammenti}}%</span><span *ngIf="!mediaFrammenti.includes('-')" style="color:green">+{{mediaFrammenti == '0.00' ?  '100' : mediaFrammenti}}%</span></span></div>
              <div class="row flex" *ngIf="stat.statistica?.nuclei"><h3 class="subtitle">🔮 Nuclei:</h3>&nbsp;<h3>{{stat.statistica!.nuclei}}</h3>&nbsp;&nbsp;<span *ngIf="mediaNulei!='NaN'"><span *ngIf="mediaNulei?.includes('-')" style="color:brown">{{mediaNulei}}%</span><span *ngIf="!mediaNulei?.includes('-')" style="color:green">+{{mediaNulei == '0.00' ?  '100' : mediaNulei}}%</span></span></div>
              <div class="row flex" *ngIf="stat.statistica?.userList"><h3 class="subtitle">⚔️ Numero PG:</h3>&nbsp;<h3>{{stat.statistica!.userList!.length}}</h3>&nbsp;&nbsp;<span *ngIf="mediaPg!='NaN'"><span *ngIf="mediaPg?.includes('-')" style="color:brown">{{mediaPg}}%</span><span *ngIf="!mediaPg?.includes('-')" style="color:green">+{{mediaPg == '0.00' ?  '100' : mediaPg}}%</span></span></div>
            </div>
            <div>
              <app-statistiche-donut-chart [listClass]="listaClassi!"></app-statistiche-donut-chart>
            </div>
          </div>
        </mat-card-content>
        <span class="percentuali">*Percentuali stimate in base a dungeon dello stesso tipo rispetto alla media sul totale</span>
      </mat-card>
</div>

<div class="container mx-auto" *ngIf="!stat">
    <mat-card class="example-card" *ngIf="stat!=undefined">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
            height: '4vh',
            width:'14vw'
          }"></ngx-skeleton-loader>
          <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
            height: '2vh',
            width:'20vw'
          }"></ngx-skeleton-loader>
        <mat-card-content style="margin-top:5px;">
            <ngx-skeleton-loader count="8" appearance="line" [theme]="{ 
                height: '2.2vh',
              }"></ngx-skeleton-loader>
        </mat-card-content>
      </mat-card>
</div>