<div class="login-container" *ngIf="!isLoggedIn()" fxFlex="100"  fxLayout="row wrap" fxLayoutAlign="center center" >
      <mat-toolbar class="login-toolbar" color="primary">
        <span class="material-icons ank" style="color: rgb(255, 210, 48); font-size: 56px; -webkit-text-stroke-width: 0px;">anchor</span>
        </mat-toolbar>
      <mat-card>
        <mat-stepper linear #stepper orientation="vertical" fxFlex="100" fxLayout="column">
            <mat-step [stepControl]="firstFormGroup" [editable]="isEditable" fxLayout="row stretch" fxFlex="100">
              <form [formGroup]="firstFormGroup" >
                <ng-template matStepLabel>Credential </ng-template>
                  <mat-form-field>
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type="text" matInput placeholder="Username"  formControlName="username">
                  </mat-form-field>

                  <mat-form-field >
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password" required>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="Ripeti password" formControlName="password" required>
                  </mat-form-field>
                <div>
                  <button mat-button matStepperNext>
                    <span class="material-symbols-outlined arrow">
                    expand_more
                    </span></button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" [editable]="isEditable" fxLayout="row stretch" fxFlex="100">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Info</ng-template>
                <mat-form-field>
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type="text" matInput placeholder="Nome pg"  formControlName="nomePg">
                </mat-form-field>
                <mat-form-field >
                    <mat-icon matPrefix>location_city</mat-icon>
                    <mat-label>Regno</mat-label>
                      <mat-select color="primary" fxFlex formControlName="regno">
                        <mat-option color="primary" *ngFor="let regno of regni" [disabled]="regni.length<1" [value]="regno.nome">{{regno.nome}}</mat-option>
                      </mat-select>
                  </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious><span class="material-symbols-outlined arrow">
                    expand_less
                    </span></button><br>
                  <button mat-button matStepperNext><span class="material-symbols-outlined arrow">
                    expand_more
                    </span></button>
                </div>
              </form>
            </mat-step>
            <mat-step fxLayout="column" fxFlex="100">
                <ng-template matStepLabel>Domande</ng-template>
                <mat-form-field *ngFor="let i of dr">
                    <textarea matInput [disabled]="true" class="domanda" fxFlex="100" fxLayout="row">{{i.domanda}}</textarea>
                    <div style="margin:5%"></div>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious><span class="material-symbols-outlined arrow">
                      expand_less
                      </span></button><br>
                    <button mat-button matStepperNext><span class="material-symbols-outlined arrow">
                      expand_more
                      </span></button>
                  </div>
              </mat-step>
            <mat-step fxFlex>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>
      </mat-card>
    </div>

