<div class="admin-panel">
  <h2 class="panel-title">Pannello Amministratore</h2>
  <div class="section">
    <h3 class="section-title">Utenti</h3>
    <a class="section-link" [routerLink]="'/utenti'">Gestione Utenti</a>
  </div>
  <div class="section">
    <h3 class="section-title">Flusso dati</h3>
    <a class="section-link" [routerLink]="'/flussoDati'">Gestione Flusso Dati</a>
  </div>
  <div class="section">
    <h3 class="section-title">Tickets</h3>
    <a class="section-link" [routerLink]="'/tickets'">Gestione Tickets</a>
  </div>
  <div class="section">
    <h3 class="section-title">News</h3>
    <a class="section-link" [routerLink]="'/aggiungi-news'">Gestione News</a>
  </div>
</div>
